:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

body {
  width: 100%;
  background-color: #36454f;
  color: #ffffff;
}

#mainDiv {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#heading {
  text-align: center;
  font-family: Tahoma, sans-serif;
}

#grids {
  width: 90%;
  max-width: 80rem;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5rem;
}

#buttonsDiv {
  width: 86%;
  max-width: 59rem;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

#playerShipsDiv {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 1.2rem;
}

#shipsDiv {
  padding-left: 0.3rem;
}
button {
  padding: 0.35rem 1.2rem;
  border: 0.1rem solid #ffffff;
  margin: 0 0.3rem 0.3rem 0;
  border-radius: 0.12rem;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Verdana, sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
  background: none;
}

button:hover {
  color: #36454f;
  background-color: #ffffff;
}

#mainDisplay {
  padding-top: 1rem;
  text-align: center;
  font-size: 1.5rem;
}

#playersGrid,
#computersGrid {
  display: grid;
  background-color: #ffffff;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  border: 1px solid black;
  max-width: 416px;
}

.gridSquare {
  border: 1px solid black;
  line-height: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  color: #ffffff;
}

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

#modal-content {
  background-color: rgb(245, 245, 245);
  margin: 15% auto;
  padding: 1.25rem;
  border: 1px solid #a9a9a9;
  width: 80%;
  max-width: 40rem;
}

#close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#close:hover,
#close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

li {
  margin-bottom: 0.625rem;
}
